.modal {
    font-size: 12px;
    
  }
.header {
    width: 100%;
    border-bottom: 1px solid rgb(128,128,128);
    font-size: 18px;
    text-align: center;
    padding: 5px;
    background-color: rgba(41, 45, 62, 0.849);
    color: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
.content {
    width: 100%;
    padding: 10px 5px;
    background-color: rgba(41, 45, 62, 0.849);
    color: #ffffff;
  }
.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    background-color: rgba(41, 45, 62, 0.849);
    color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }