@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* background-image: url(../images/mountain\ and\ bird/moun\ 7.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#email , #name{
    padding-left: 10px;
}
#password{
    padding-left: 10px;
    border: 5px blue;
}